<html lang="en">

<head>
  <meta charset="utf-8">
  <title>BiReport</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i"
    rel="stylesheet">

  <!-- Bootstrap css -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/modal-video/css/modal-video.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>

    <header id="header" class="header header-hide">
      <div class="container">
        <div id="logo" class="pull-left">
          <h1><a><span>Bi</span>Report</a><span> </span><img src="img/logo.jpg" style="width: 115px; height: 40px"/></h1>
        </div>

        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active"><a href="/index.html">Home</a></li>
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header><!-- #header -->

    
    <section id="hero" class="wow fadeIn">
      <div class="hero-container">
        <h1>Contacto</h1>
        <h2>
          Si quiere hacernos alguna pregunta, duda o sugerencia, o bien concertar una cita, puede contactar con nosotros a través
          del siguiente <a href="#contact">formulario</a>
        </h2>
        <div id="map"></div>
      </div>
    
    <script>
      function initMap() {
        var school = { lat: 19.39387011324337, lng: -99.08973571557735 };
        var map = new google.maps.Map(
          document.getElementById('map'), { zoom: 16, center: school });
        var marker = new google.maps.Marker({ position: school, map: map });
      }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB33z6KZiDvuZK1PisLmX2MG-2pEpCaNbM&callback=initMap">
      </script>
    </section>

    <!--==========================
    Get Started Section
  ============================-->
      <section id="contact" class="padd-section wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
          <div class="section-title text-center">
            <h2>Contáctanos</h2>
            <p class="separator">Ayudanos a ayudarte</p>
          </div>
        </div>
      
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4">
              <div class="info">
                <div>
                  <i class="fa fa-map-marker"></i>
                  <p>Av. Té 950, Granjas México<br>08400 Ciudad de México, CDMX</p>
                </div>
                <div class="email">
                  <i class="fa fa-envelope"></i>
                  <p>BiReport@mail.com.mx</p>
                </div>
      
                <div>
                  <i class="fa fa-phone"></i>
                  <p>55 8954 8855</p>
                </div>
              </div>
      
              <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
      
            </div>
            
            <div class="col-lg-5 col-md-8">
              <div id="app">
                <div>Tu mensaje sera mandado. Gracias!</div>
                <div></div>
                  <div class="form-group">
                    <input v-model="contact.name" class="form-control" placeholder="Tu nombre">
                  </div>
                  <div class="form-group">
                    <input v-model="contact.email" class="form-control" placeholder="Tu Email">
                  </div>
                  <div class="form-group">
                    <input v-model="contact.subject" class="form-control" placeholder="Asunto">
                  </div>
                  <div class="form-group">
                    <textarea v-model="contact.message" class="form-control" rows="5" placeholder="Mensaje"></textarea>
                  </div>
                  <div class="text-center"><button @click="sendEmail" class="btn btn-success">ENVIAR MENSAJE</button></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      </div>

    </section>

    <!-- JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/modal-video/js/modal-video.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>
    <script src="js/contact.js"></script>
  </body>

</html>