<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>

<head>
  <title>Login Page</title>
  <!--Made with love by Mutiullah Samim -->

  <!--Bootsrap 4 CDN-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">

  <!--Custom styles-->
  <link rel="stylesheet" type="text/css" href="css/styleLogin.css">

  <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <div v-if="authUser">
      <h2 style="color: white">Usuario registrado: {{authUser.email}}</h2>
      <button @click="signOut" class="btn btn-success">Cerrar sesión</button>
    </div>
    <div v-else>
      <div class="container">
        <div class="d-flex justify-content-center h-100">
          <div class="card">
            <div class="card-header">
              <h3>Registrate</h3>
            </div>
            <div class="row">
              <div class="card-body">
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input v-model="username" type="text" class="form-control" placeholder="email">
                </div>

                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                  </div>
                  <input v-model="password" type="password" class="form-control" placeholder="contraseña">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-2">
                <input @click="register" value="Crear" class="btn float-right login_btn">
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-2"></div>
              <div class="col-md-1"></div>
              <div class="col-md-2">
                <input @click="signIn" value="Acceso" class="btn float-right login_btn">
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDeR-reyxCfvZEQ9mtRJgBRU7zrja41_2g",
      authDomain: "bireport-4aedd.firebaseapp.com",
      databaseURL: "https://bireport-4aedd.firebaseio.com",
      projectId: "bireport-4aedd",
      storageBucket: "bireport-4aedd.appspot.com",
      messagingSenderId: "922361070341"
    };
    firebase.initializeApp(config);

    var data = {
        username: "",
        password: "",
        authUser: null
    }

    const app = new Vue({
        el: '#app',
        data: data,
        methods: {
          register: function () {
            firebase.auth().createUserWithEmailAndPassword(this.username, this.password)
              .then(() => { window.location.href = 'index.html' } )
              .catch(error => alert('🤯' + error.message));
          },

          signOut: function(){
            firebase.auth().signOut()
          },

          signIn: function(){
            firebase.auth().signInWithEmailAndPassword(this.username, this.password)
              .then(() => { window.location.href = `dashboard.html?user=${this.username}` })
              .catch(error => alert('🤯' + error.message))
          }
        },
        created(){
          firebase.auth().onAuthStateChanged(user => { this.authUser = user })
        }
      })
  </script>
</body>

</html>
